body{
  margin: 0px;
  padding: 0px;
}

img{
  width: 15%;
}

p{
  font-size: 27px;
}

.container-one{
  height: 15vh;
  border: 1px solid #000;
  background-color: hsl(1, 74%, 72%);
  display: flex;
  align-items: center;
}

.welcome{
  flex: 1;
  font-size: 40px;
  padding-left: 20px;
}

.nav{
  margin-right: 20vw;
}

.nav a{
  flex: 1;
  font-size: 30px;
  text-decoration: none;
  color: #000;
  padding-right: 150px;
}

.container-two{
  height: 67vh;
  border: 5px dotted #000;
  margin: 15px;
  padding: 10px;
}

.container-two h1{
  margin-top: 30px;
  font-size: 34px;
}

.container-two img{
  float: left;
}

.container-three{
  height: 94vh;
  border: 5px dotted #000;
  margin: 15px;
  padding: 10px;
}

.container-three h1{
  margin-top: 30px;
  font-size: 34px;
}

.container-three img{
  height: 50%;
  float: right;
}